.table {
  display: flex;
  flex-direction: row;
}

.cardData {
  display: flex;
  flex-direction: column;
  font-size: 6px;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  width: 200px;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
/* .dayText:last-child {
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.dayText:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
} */

.dayText {
  font-size: 14px;
  width: 100%;
  margin: 0px;
  margin-block: 0px;
  background-color: #c0c0c0;
  text-align: center;
  padding: 10px 0px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 90%;
  border-radius: 12px;
  background-color: white;
  box-sizing: border-box;
}

.header {
  color: white;
  padding: 0px;
  margin: 0px;
  margin-block: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 12px;
}

.i_card {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #f5f5f5;
  border: solid 0.2px;
  border-radius: 8px;
  margin-left: 20px;
}

.cardOne {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.batch {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px;
}

.cardTwo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  margin-right: 130px;
}

.cardThree {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  margin-left: 30px;
}

.activity {
  display: flex;
  flex-direction: column;
  line-height: 0px;
}

.button {
  color: blue;
  border: solid 1px blue;
  border-radius: 8px;
  width: 20%;
}
